<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag 1</title>
    <link rel="stylesheet" href="../src/css/pag1.css">
</head>
<body>
    <div class="text">
        <div class="tittle">
            <h1>Discover the beauty around the world</h1>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo error aspernatur suscipit corrupti ea dolores omnis animi consequuntur fugiat corporis. At nisi ab illo voluptatem nemo sequi, corrupti dolores? Recusandae!.</p>            
            <button>Explore</button>
        </div>
    </div>
    <div class="imgs">
        <div class="column-1">
            <img src="/src/storage/images/Page-01/1.1.png" alt="">
            <img src="/src/storage/images/Page-01/1.2.png" alt="">
            <img src="/src/storage/images/Page-01/1.3.png" alt="">
            <img src="/src/storage/images/Page-01/1.4.png" alt="">
        </div>
        <div class="column-2">
            <img src="/src/storage/images/Page-01/2.1.png" alt="">
            <img src="/src/storage/images/Page-01/2.2.png" alt="">
            <img src="/src/storage/images/Page-01/2.3.png" alt="">
            <img src="/src/storage/images/Page-01/2.4.png" alt="">
        </div>
    </div>
</body>
</html>