<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 4</title>
    <link rel="stylesheet" href="../src/css/Page-04.css">
</head>
<body>
    <main>
        <section class="image">
            <img src="../src/storage/images/Page-04/Image.png" alt="">
        </section>
        <section class="info">
            <div class="info__up">
                <h1>Exploration and inspiration</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <div class="exp">
                    <a href="#">Explore</a>
                </div>
            </div>
            <div class="info__down">
                <div class="first">
                    <h3>01</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                </div>
                <div class="sec">
                    <h3>02</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>