<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-03</title>
    <link rel="stylesheet" href="../src/css/Page-03.css">
</head>
<body>
    <section class="tittle">
        <h1>Just that simple</h1>
    </section>
    <section class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        <button>Get Started</button>
    </section>
    <section class="img-box">
        <img src="../src/storage/images/Page-03/hero Image (1).png" alt="">
    </section>
</body>
</html>