<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-05</title>
    <link rel="stylesheet" href="../src/css/Page-05.css">
</head>
<body>
    <header>
        <h1>Projects and <br> practice</h1>
    </header>
    <main>
        <section class="info__1">
            <div class="text">
                <h3>01</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            </div>
            <div class="image">
                <img src="../src/storage/images/Page-05/Frame 14165 (2).png" alt="">
            </div>
        </section>
        <section class="info__2">
            <div class="text">
                <h3>02</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            </div>
            <div class="image">
                <img src="../src/storage/images/Page-05/Frame 14165 (1).png" alt="">
            </div>
        </section>
        <section class="info__3">
            <div class="text">
                <h3>03</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            </div>
            <div class="image">
                <img src="../src/storage/images/Page-05/Frame 14165.png" alt="">
            </div>
        </section>
    </main>
</body>
</html>