<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-07</title>
    <link rel="stylesheet" href="../src/css/Page-07.css">
</head>
<body>
    <header>
        <h1>Design is the way how <br> you express the feelings</h1>
    </header>
    <main>
            <div class="cont1">
                <div class="text">
                    <h2>01</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                
                <div class="card">
                    <img src="../src/storage/images/Page-07/Frame 14176.png" alt="">
                    <div class="overlay">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Faucibus in libero risus</p>
                    </div>
                </div>                
            </div>

            <div class="cont2">
                <div class="text">
                    <h2>02</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="card">
                    <img src="../src/storage/images/Page-07/Frame 14176 (1).png" alt="">
                    <div class="overlay">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Faucibus in libero risus</p>
                    </div>
                </div>
            </div>
            <div class="cont3">
                <div class="text">
                    <h2>03</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="card">
                    <img src="../src/storage/images/Page-07/Frame 14176 (2).png" alt="">
                    <div class="overlay">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Faucibus in libero risus</p>
                    </div>
                </div>
                
            </div>
            <div class="cont4">
                <div class="text">
                    <h2>04</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="card">
                    <img src="../src/storage/images/Page-07/Frame 14176 (3).png" alt="">
                    <div class="overlay">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Faucibus in libero risus</p>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>