:root{
    --color-1: #FFFFFF;
    --color-2: #252525;
    --color-3: #252525cc; /* 80% */
    --color-4: #25252540; /* 25% */
    --color-5: #2525258C; /* 55% */
}

@font-face {
    font-family: "Avenir-Heavy";
    src: url(../storage/fonts/AvenirLTStd-Heavy.otf);
}

@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage/fonts/AvenirLTStd-Roman.otf);
}